body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: black;
    color: gray;
    padding: 10px;
}
.title-ctn {
    margin-left: 10%;
}
h2  {
    margin-left: 30%;
}
.main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 10px;
    background-color: rgb(50, 136, 227);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input {
    padding: 10px;
    width: 70%;
    margin-right: 5px;
}
.input-btn {
    display: flex;
    width: 50%;
    justify-content: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lists-tasks {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    width: 100%;
}
li {
    display: flex;
    padding: 6px 0;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.task-left {
    display: flex;
    flex-direction: row;
}
.task-left.done {
    text-decoration: line-through;
}

.del-btn {
    background-color: white;
}