<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <div class="gallery">
      <img class="main-image" [src]="activeImage[product.id]" [alt]="product.name" />
      <div class="thumbnails">
        <img 
          [src]="product.image" 
          [alt]="product.name + ' main image'"
          [class.active] = "activeImage[product.id] === product.image"
          (click) = "setActiveImage(product.id, product.image)"
          >

        <img
          *ngFor="let img of product.images; let i = index"
          [src]="img"
          [alt]="product.name + ' thumbnail'"
          [class.active]="activeImage[product.id] === img"
          (click)="setActiveImage(product.id, img)"
        />
      </div>
    </div>


    <a href="{{product.link}}">
    <h3>{{ product.name }}</h3>
    </a>
    <p>{{ product.description }}</p>
    <p class="price">{{ product.price | number }} KZT</p>
    <p class="rating">
      <span *ngFor="let star of [1,2,3,4,5]">
        <i class="star" [class.filled]="product.rating >= star">&#9733;</i>
      </span>
      {{ product.rating }}
    </p>

    <div class="share-buttons">
      <a [href]="getWhatsAppLink(product)" target="_blank" class="share whatsapp">WhatsApp</a>
      <a [href]="getTelegramLink(product)" target="_blank" class="share telegram">Telegram</a>
    </div>
  </div>
</div>
