body {
    margin: 0;
    font-family: "Mona Sans","Mona Sans Fallback",Arial;
}
.header-wrap {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #1F2328;
}
.wrap-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap-desc p {
    text-align: center;
    color: rgb(89, 89, 89);
}
.wrap-desc h1 {
    font-size: 64px;
}
.trial-btn {
    font-size: 15px;
    padding: 18px;
}
.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-header img {
    width: 32px;
    height: 32px;
}
.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-icon {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Search_font_awesome.svg/512px-Search_font_awesome.svg.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 0 0 0 25px;
    border: 1px solid rgb(89, 89, 89);
}
.right-header button {
    background-color: white;
    color: black;
    border: 1px solid rgb(89, 89, 89);
    margin-left: 20px;
}
.cards-wrap {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    
}
.card {
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 28px 0 rgba(89, 89, 89, 0.2);
}
.card h6 {
    color: #0969DC;
    font-size: 15px;
    text-transform: uppercase;
}
.card button {
    font-size: 18px;
}
.card-btns button {
    margin: 5px;
}
button {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 14px;
    border: none;
    font-weight: bold;
}
#sales-contact {
    background-color: white;
    color: black;
    border: 1px solid rgb(89, 89, 89);
}
.addons-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addons-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
}
.card-add {
    margin: 10px;
    padding: 25px;
    border-radius: 7px;
    border: 1px solid rgba(89, 89, 89, 0.2);
    box-shadow: 1px 3px 2px 1px rgba(89, 89, 89, 0.2);
}
.card button {
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.card-btns {
    display: flex;
    flex-direction: row;
}
.card h1 {
    color: black;
    text-align: center;
}
.icon-ctn {
    background-color: #FBEFFF;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-ctn img {
    width: 28px;
    height: 28px;
}
.card-add a {
    font-weight: bold;
}
.card-add:nth-child(2) .icon-ctn {
    background-color: #DAFBE1;
}
.card-add:nth-child(3) .icon-ctn {
    background-color: #DDF4FF;
}

.card-add:nth-child(4) .icon-ctn {
    background-color: #FFEFF7;
}

.card-add:nth-child(5) .icon-ctn {
    background-color: #FFF1E5;
}

.card-add:nth-child(6) .icon-ctn {
    background-color: #FFF8C5;
}
.addons-wrap h1 {
    font-size: 64px;
}
.card-outline {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 30px;
}
.card-outline  {
    padding-top: 40px;
}
.card {
    width: 85%;
}
.card-outline:nth-child(3) {
    background-color: #0969DC;
    padding-top: 0;
    border-radius: 20px;
}
#rec-title {
    color: white;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
.card-outline:nth-child(3) card {
    width: 100%;
    margin-bottom: 50PX;
}